.pagination {
	display: flex;
	width: 20vw;
	justify-content: space-between;
	margin: 20px;
	justify-self: end;
}

.pagination > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.pagination > ul > li {
	padding-right: 20px;
	cursor: pointer;
}

.page_form > .page_input {
	max-width: 50px !important;
	height: 30px;
	outline: none;
	border: none;
	text-align: center;
}

.pagination .MuiSvgIcon-root{
	cursor: pointer;
}

.nav{
	color: white;
}